
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(168, 218, 220);
    text-align: center;
}

h1 {
    text-transform: capitalize;
    font-size: 4rem;
    color: rgb(29, 53, 87);
    margin-top: 15px;
    text-decoration: underline ;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 17px;
    border: none;
    font-size: 8vmin;
    cursor: pointer;
    background-color: rgb(241, 250, 238);
    
}

.reset-btn,.new-btn{
    font-size: 19px;
    padding: 19px;
    background-color: rgb(29, 53, 87);
    color:rgb(241, 250, 238);
    text-transform: capitalize;
    border-radius: 15px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.message-container{
    height: 100vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
}

#msg{
    font-size: 4rem;
    color:rgb(29, 53, 87) ;
    text-transform: capitalize;
}

.hide{
    display: none;
}
